.logo {
  height: 51px;
}
@media only screen and (max-width: 768px) {
  .logo {
    height: 31px;
  }
}
.navbar .btn-primary {
  color: white;
  background: transparent; /* default color */

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, transparent 50%, #3f567d 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.navbar .btn-primary:hover {
  color: white !important;
  background-position: left;
}

.nav-item {
  margin-left: 20px;
}
.nav-link {
  font-size: 18px;
  color: #3f567d !important;
  transition: 0.5s;
}
.active {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.nav-link:hover {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
