.home {
    margin-top: 30vh;

  }
  .div-1 {
    height: 80vh;
  }

  .text-title {
    font-family: Kentledge-Black;
    font-size: 42px;
    letter-spacing: 20px;
    color: #E05131;
  }

  .text-title-2 {
    font-family: Kentledge-Black;
    font-size: 42px;
    letter-spacing: 20px;
    color: #E05131;
  }

  .text-description {
    font-family: Kentledge-Regular;
    font-size: 28px;
    width: 80%;
    margin-top: 20px;
    line-height: 48px;
  }

  .bg-line {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 200vh;
    width: 90vw;
  }

  .scroll-down {
    position: absolute;
    top: 72vh;
    right: 0;
    margin-right: 2%;
    height: 18vh;
  }
  
  .scroll-up {
    position: absolute;
    top: 178vh;
    right: 0;
    margin-right: 2%;
    height: 15vh;
  }

  body {
    text-transform: none;
  }

  .row-clients .col-md-2{
    margin: auto;
  }
  .mt-10{
    margin-top: 80px;
  }