.home {
    margin-top: 27vh;
  }
  .div-1 {
    height: 80vh;
  }

  .text-title {
    font-family: Kentledge-Black;
    font-size: 42px;
    letter-spacing: 20px;
    color: #E05131;
  }

  .text-description {
    font-family: Kentledge-Regular;
    font-size: 28px;
    width: 80%;
    margin-top: 20px;
    line-height: 48px;
  }

  .bg-line {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 200vh;
    width: 90vw;
  }

  .scroll-down {
    position: absolute;
    top: 72vh;
    right: 0;
    margin-right: 2%;
    height: 18vh;
  }
  
  .scroll-up {
    position: absolute;
    top: 178vh;
    right: 0;
    margin-right: 2%;
    height: 15vh;
  }

  body {
    text-transform: none;
  }

  .row-clients .col {
    margin: auto;
  }

  .row-clients .col {
    padding: 20px;
  }

  .mt-10{
    margin-top: 80px;
  }

  @media screen and (max-width: 1024px) {
    .row-clients img {
      width: 100px;
    }

    .text-title {
      font-size: 48px;
      letter-spacing: 20px;
    }

    .text-description {
      font-size: 30px;
      width: 80%;
      margin-top: 20px;
      line-height: 48px;
    }
  }

  @media screen and (max-width: 768px) {
    .row-clients img {
      width: 100px;
    }
  }

  @media screen and (max-width: 500px) {
    .row-clients img {
      width: 80px;
    }

    .text-title {
      font-size: 18px;
      letter-spacing: 5px;
    }

    .text-description {
      font-size: 14px;
      width: 80%;
      margin-top: 20px;
      line-height: 28px;
    }
  }